@use '../var';
@use '../mixin';


.btn {
    display: flex;
    justify-content: flex-start;
    flex-wrap: calc(100%/3);
    margin-left:1rem;

    &__a {
    width:30%;
    padding: 1rem;
    background-color: var.$actionColor;
    border-radius: 0.3rem;
    color: #fff;
    @include mixin.hoverBtn;
    @include mixin.btn;
    
    &__icon {
        font-size: 2rem;
        padding: 1.5rem;
        color: var.$baseColor;
        @include mixin.hoverBtn;
        @include mixin.btn;
    }
}
}