@use '../var';


.header {
    padding:1rem;
    border-bottom:0.1rem solid var.$actionColor;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    &__logo {
        padding: 1rem;
        color: var.$texColor;
    }
}


footer {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color: var.$baseColor;
    background-color: var.$actionColor;
}